<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css"/>
    <link rel="stylesheet" href="/header.css"/>
    <script type="text/javascript" th:src="@{/js/TagHasher.js}"></script>
    <title>Addon Editing</title>
</head>
<body>
<div>
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
</div>
<form class="edit" action="#" th:action="@{/addon/edit/{name}(name=${addon.getName()})/update}" th:object="${addon}"
      method="post" enctype="multipart/form-data">
    <label th:text="#{addon.header.name}">Addon Name:</label>
    <br/>
    <label>
        <input class="fill90" type="text" th:field="*{name}"/>
    </label>
    <label class="error" th:errors="*{name}"></label>
    <label th:text="#{addon.header.description}">Description:</label>
    <br/>
    <label>
        <input class="fill90" type="text" th:field="*{description}"/>
    </label>
    <label class="error" th:errors="*{description}"></label>
    <label th:text="#{addon.header.origin}">Origin:</label>
    <br/>
    <label>
        <input class="fill90" type="text" th:field="*{origin}"/>
    </label>
    <label th:text="#{addon.header.tags}">Tags:</label>
    <label>
        <input id="visualizeTags" name="visualizeTags" class="fill90" type="text" th:value="${specificTags}"
               onchange="tagHash()"/>
    </label>
    <label hidden>
        <input id="tags" name="tags" class="name" th:field="*{tags}" type="text" hidden/>
    </label>
    <p id="allTags" th:text="${allTags}" hidden></p>
    <label class="control-label">Select File*</label>
    <input id="file" name="file" type="file" class="file">
    <p th:text="#{common.header.mandatory}"></p>
    <label hidden>
        <input type="text" id="id" th:name="id" th:value="${id}"/>
    </label>

    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <input class="button" type="submit" name="action" value="Update"/>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Second group">
            <input class="button" type="submit" name="action" value="Delete"/>
        </div>
    </div>
</form>

</body>
</html>