<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/view.css"/>
    <link rel="stylesheet" href="/submenu.css"/>
    <link rel="stylesheet" href="/header.css"/>
    <title>Addon</title>
</head>
<body>
<div>
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
</div>
<form class="view" action="#" th:action="@{/addon/view/}" th:object="${addon}" method="post">
    <a class="linking" style="color: #0000FF" th:text="${addon.name}" th:href="@{/addon/download/{addonNmae}(addonNmae=${addon.name})}">Addon
        Name:</a>
    <br/> <br/>
    <p class="creator" th:text="${addon.creator}">Creator Name:</p>
    <p th:text="${'Total downloads: '+addon.numberOfDownloads}"></p>
    <p th:text="'Average Rating: '+${averageRating}">Rating</p>
    <p th:text="${addon.description}"></p>
    <div class="gitHub">
        <div th:unless="${addon.origin == null ||addon.origin.isEmpty()}">
            <p class="project-details">Project Details</p>
            <div class="project-details-content">
                <a class="linking" style="color: #0000FF" href="#" th:text="${addon.origin.substring(19)}" th:href="${addon.origin}"></a>
            </div>
            <br/>
            <div class="project-details-content">
                <a class="linking" style="color: #0000FF" href="#"
                   th:text="${totalPullRequests == 0} ? 'No Pull Requests':${totalPullRequests} + ' Pull Requests'"
                   th:href="${addon.origin+'/pulls'}"></a>
            </div>
            <br/>
            <div class="project-details-content">
                <a class="linking" style="color: #0000FF" href="#"
                   th:text="${totalOpenIssues == 0} ? 'No Open Issues': ${totalOpenIssues} + ' Open Issues'"
                   th:href="${addon.origin+'/issues'}"></a>
            </div>
            <br/>
            <div class="project-details-content">
                <a class="linking" style="color: #0000FF" href="#"
                   th:text="'Last Commit Date: ' + ${lastCommitDate}"
                   th:href="${addon.origin+'/commits'}"></a>
            </div>
            <br/>
            <div class="project-details-content">
                <a class="linking" style="color: #0000FF" href="#"
                   th:text="'Last Commit Title: ' + ${lastCommitTitle}"
                   th:href="${addon.origin+'/commits'}"></a>
            </div>
        </div>
    </div>
    <div class="tags">
        <p class="project-details">Tags</p>
        <ul th:each="tag:${addon.tags}">
            <div class="card" th:text="${tag.name}"></div>
        </ul>
    </div>
</form>

<form class="rating" action="#" th:action="@{/addon/view/rate}" sec:authorize="isAuthenticated()" method="post">
    <div class="rate" onclick="rateAddon()">
        <input type="radio" id="star5" name="rate" value="5"/>
        <label for="star5" title="text">5 star</label>
        <input type="radio" id="star4" name="rate" value="4"/>
        <label for="star4" title="text">4 star</label>
        <input type="radio" id="star3" name="rate" value="3"/>
        <label for="star3" title="text">3 star</label>
        <input type="radio" id="star2" name="rate" value="2"/>
        <label for="star2" title="text">2 star</label>
        <input type="radio" id="star1" name="rate" value="1"/>
        <label for="star1" title="text">1 star</label>
    </div>
    <div>
        <label>
            <input type="number" id='score' th:name="score" hidden>
        </label>
        <label>
            <input type="text" id='addon' th:name="addon" th:value="${addon.name}" hidden>
        </label>
        <input class="rate-it" type="submit" value="Rate"/>
    </div>

    <script th:inline="javascript">
        function rateAddon() {
            let rates = document.getElementsByName("rate");
            let rate_value;
            for (let i = 0; i < rates.length; i++) {
                if (rates[i].checked) {
                    rate_value = rates[i].value;
                }
            }
            textRate = document.getElementById("score");
            textRate.value = rate_value;
        }
    </script>
</form>
<form class="admin-mini-panel low1" sec:authorize="hasRole('ADMIN')" th:object="${addon}" action="#"
      th:action="@{/addon/view/approve}" method="post" th:if="${statuses.contains('Pending')}">
    <br>
    <div class="user-info">
        <input class="button" type="submit" name="action" value="Approve"/>
    </div>
    <label>
        <input type="text" id='approvedAddon' th:name="addon" th:value="${addon.name}" hidden>
    </label>
</form>
<form class="admin-mini-panel low2" sec:authorize="hasRole('ADMIN')" th:object="${addon}" action="#"
      th:action="@{/addon/view/feature}" method="post" th:if="${!statuses.contains('Deleted')}">
    <p th:text="'Status: '+${statuses}"></p>
    <div class="user-info">
        <input class="button" type="submit" name="action" value="Feature" th:if="${!statuses.contains('Featured')}"/>
        <input class="button" type="submit" name="action" value="Remove from Featured"
               th:if="${statuses.contains('Featured')}"/>
    </div>
    <label>
        <input type="text" id='featuredAddon' th:name="addon" th:value="${addon.name}" hidden>
    </label>
</form>
<form class="admin-mini-panel low3" th:object="${addon}" action="#" th:action="@{/addon/view/edit}" method="post"
      th:if="${(#authentication.name == addon.creator) or (isAdmin == true)}">
    <br>
    <div class="user-info">
        <input class="button" type="submit" name="action" value="Edit"/>
    </div>
    <label>
        <input type="text" id='editAddon' th:name="addon" th:value="${addon.name}" hidden>
    </label>
</form>
<form class="admin-mini-panel low4" sec:authorize="hasRole('ADMIN')" th:object="${addon}" action="#"
      th:action="@{/addon/view/reject}" method="post" th:if="${statuses.contains('Pending')}">
    <br>
    <div class="user-info">
        <input class="button" type="submit" name="action" value="Reject"/>
    </div>
    <label>
        <input type="text" id='rejectedAddon' th:name="addon" th:value="${addon.name}" hidden>
    </label>
</form>

</body>
</html>