<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/table.css"/>
    <script type="text/javascript" th:src="@{/js/ScrollBar.js}"></script>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    <title>Addons</title>
</head>
<body>
<div>
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
</div>
<!--Search-->
<form class="form-wrapper" action="#" th:action="@{/addon/filter}" method="post">
    <label for="keyword"></label><input type="text" id="keyword" name="keyword" placeholder="Search for..." required>
    <label for="whereToLook"></label><select id="whereToLook" name="whereToLook">
    <option value="Name" selected>Name</option>
    <option value="Tags">Tags</option>
</select>
    <input type="submit" value="go" id="submit">
</form>
<form action="#" th:action="@{/sort}" method="post">
    <div class="sortBy">
    <label for="sortBy"></label><select id="sortBy" name="sortBy">
    <option th:value="${selectedSort}" th:text="${selectedSort}"></option>
    <option value="Name">Name</option>
    <option value="Number Of Downloads">Number Of Downloads</option>
    <option value="Upload Date">Upload Date</option>
</select>
    <input type="submit" value="Sort">
    </div>
</form>
<!--Table-->
<form action="#" th:action="@{/addons}" method="get">
    <div id="wrapper">
        <h1 class="NotFound">Addons</h1>
        <table class="table" cellspacing="0" cellpadding="0">
            <thead>
            <tr>
                <th class="title"><span>Name</span></th>
                <th class="description"><span>Description</span></th>
                <th class="title"><span>Number Of Downloads</span></th>
                <th class="title"><span>Upload Date</span></th>
                <th class="title"><span>Last Commit</span></th>
            </tr>
            </thead>
            <tbody th:each="addon : ${addons}">
            <tr>
                <td class="content"><a th:href="@{'/addon/view/'+${addon.name}}"><p th:text="${addon.name}"></p></a></td>
                <td class="description-content" th:text="${addon.description}"></td>
                <td class="content" th:text="${addon.numberOfDownloads}"></td>
                <td class="content" th:text="${formatter.format(addon.getUploadDate())}"></td>
                <div th:unless="${addon.origin == null ||addon.origin.isEmpty()}">
                    <td class="content" th:text="${github.getLastCommitDate(addon.origin)}"></td>
                </div>
                <div th:if="${addon.origin == null ||addon.origin.isEmpty()}">
                    <td class="content"></td>
                </div>
            </tr>
            </tbody>
        </table>
    </div>

</form>
<form action="#" th:action="@{/addons}" method="post">
    <label for="next">
        <input type="text" th:value="${currentPage}" id="next" name="next" hidden/>
    </label>
    <div class="pages">
        <div th:unless="${currentPage}==0">
            <input type="submit" value="Previous" id="buttonPrev" onclick="prevPage()"/>
        </div>
        <div>
            <label>
                <input type="text" th:value="${currentPage+1}" disabled/>
            </label>
        </div>
        <div th:unless="${currentPage}==${maxPages}">
            <input type="submit" value="Next" id="buttonNext" onclick="nextPage()"/>
        </div>
    </div>
    <script th:inline="javascript">
        function nextPage() {
            let next = document.getElementById("next");
            next.value++;
        }
    </script>
    <script th:inline="javascript">
        function prevPage() {
            let next = document.getElementById("next");
            next.value--;
        }
    </script>
</form>
</body>
</html>