<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css"/>
    <link rel="stylesheet" href="/header.css"/>
    <script type="text/javascript" th:src="@{/js/TagHasher.js}"></script>
    <title>Addon Creation</title>
</head>
<body>
<div>
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
</div>
<form class="create long" action="#" th:action="@{/addon/create}" th:object="${addon}" method="post"
      enctype="multipart/form-data">
    <label th:text="#{addon.header.creation}">Addon Name:</label>
    <p>
        <i th:if="${error != null}" th:text="${error} " class="error"></i>
    </p>
    <label>
        <input class="name" type="text" th:field="*{name}"/>
    </label>

    <label class="error" th:errors="*{name}"></label>
    <label th:text="#{addon.header.description}">Description:</label>
    <br/>
    <label>
        <input class="name" type="text" th:field="*{description}"/>
    </label>
    <label class="error" th:errors="*{description}"></label>
    <label th:text="#{addon.header.origin}">Origin:</label>
    <br/>
    <label>
        <input class="name" type="text" th:field="*{origin}"/>
    </label>
    <label th:text="#{addon.header.tags}">Tags:</label>
    <label>
        <input id="visualizeTags" name="visualizeTags" class="name" type="text" onchange="tagHash()" placeholder="Tag1,Tag2,Tag3"/>
    </label>
    <label hidden>
        <input id="tags" name="tags" class="name" type="text" hidden/>
    </label>
    <p id="allTags" th:text="${tags}" hidden></p>
    <label class="control-label">Select File*</label>
    <input id="file" name="file" type="file" class="file">
    <p th:text="#{common.header.mandatory}"></p>
    <input class="button" type="submit" value="Save"/>
</form>
</body>
</html>