<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/error.css"/>
    <title>Error</title>
</head>
<body>
<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>:(</h1>
        </div>
        <h2>An error has occurred</h2>
        <label class="error" th:text="${error}">Message</label>
        <br/><br/>
        <a href="#" th:href="@{/}">Home</a>
    </div>
</div>
</body>
</html>
