<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/table.css"/>
    <script type="text/javascript" th:src="@{/js/ScrollBar.js}"></script>
    <link rel="stylesheet" href="/header.css"/>
    <title>Title</title>
</head>
<body>
<div>
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
</div>
<!--Search-->
<form class="form-wrapper" action="#" th:action="@{/addon/filter}" method="post">
    <label for="keyword"></label><input type="text" id="keyword" name="keyword" placeholder="Search for..." required>
    <label for="whereToLook"></label><select id="whereToLook" name="whereToLook">
    <option value="Name">Name</option>
    <option value="Tags">Tags</option>
</select>
    <input type="submit" value="go" id="submit">
</form>
<div th:if="${addons.isEmpty()}">
    <h1 class="NotFound" th:text="'Could not find addons with the following search word: ' +${keyword}"></h1>
</div>
<!--Table-->

<form action="#" th:action="@{/addon/filter}" method="get">
    <div id="wrapper" th:unless="${addons.isEmpty()}">
        <h1>Addons</h1>
        <table class="table" cellspacing="0" cellpadding="0">
            <thead>
            <tr>
                <th class="title"><span>Name</span></th>
                <th class="description"><span>Description</span></th>
                <th class="title"><span>Number Of Downloads</span></th>
                <th class="title"><span>Upload Date</span></th>
                <th class="title"><span>Last Commit</span></th>
            </tr>
            </thead>
            <tbody th:each="addon : ${addons}">
            <tr>
                <td class="content"><a th:href="@{'/addon/view/'+${addon.name}}"><p th:text="${addon.name}"></p></a>
                </td>
                <td class="description-content" th:text="${addon.description}"></td>
                <td class="content" th:text="${addon.numberOfDownloads}"></td>
                <td class="content" th:text="${formatter.format(addon.getUploadDate())}"></td>
                <div th:unless="${addon.origin == null ||addon.origin.isEmpty()}">
                    <td class="content" th:text="${github.getLastCommitDate(addon.origin)}"></td>
                </div>
                <div th:if="${addon.origin == null ||addon.origin.isEmpty()}">
                    <td class="content"></td>
                </div>
            </tr>
            </tbody>
        </table>
    </div>

</form>
</body>
</html>