<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{addons.css}" href="../static/addons.css"/>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    <title>Addonis</title>
</head>

<div>
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
</div>

<form class="form-wrapper" action="#" th:action="@{/addon/filter}" method="post">
    <label for="keyword"></label><input type="text" id="keyword" name="keyword" placeholder="Search for..." required>
    <label for="whereToLook"></label><select id="whereToLook" name="whereToLook">
    <option value="Name">Name</option>
    <option value="Tags">Tags</option>
</select>
    <input type="submit" value="go" id="submit">
</form>

<form>
    <div class="featured" th:text="Featured"></div>
    <div class="row-feature">
        <div class="card" style="width: 18rem;" th:each="addon : ${featured}">
            <div class="card-body">
                <h5 class="card-title" th:text="${addon.getName()}"></h5>
                <h6 class="card-subtitle mb-2 text-muted" th:text="'#'+${addon.getCreator()}"></h6>
                <p class="card-text" th:text="${addon.getDescription()}"></p>
                <a href="#" class="card-link"
                   th:href="@{/addon/download/{addonNmae}(addonNmae=${addon.name})}">Download</a>
                <br/>
                <a href="#" class="card-link" th:href="@{/addon/view/{name}(name=${addon.name})}">View</a>
                <p th:text="'Number of downloads: '+${addon.getNumberOfDownloads()}"></p>
                <p th:text="'Uploaded: '+ ${formatter.format(addon.getUploadDate())}"></p>
            </div>
        </div>
    </div>
</form>

<form>
    <div class="popular" th:text="Popular"></div>
    <div class="row-popular">
        <div class="card" style="width: 18rem;" th:each="addon : ${popular}">
            <div class="card-body">
                <h5 class="card-title" th:text="${addon.getName()}"></h5>
                <h6 class="card-subtitle mb-2 text-muted" th:text="'#'+${addon.getCreator()}"></h6>
                <p class="card-text" th:text="${addon.getDescription()}"></p>
                <a href="#" class="card-link"
                   th:href="@{/addon/download/{addonNmae}(addonNmae=${addon.name})}">Download</a>
                <br/>
                <a href="#" class="card-link" th:href="@{/addon/view/{name}(name=${addon.name})}">View</a>
                <p th:text="'Number of downloads: '+${addon.getNumberOfDownloads()}"></p>
                <p th:text="'Uploaded: '+ ${formatter.format(addon.getUploadDate())}"></p>
            </div>
        </div>
    </div>
</form>

<form>
    <div class="popular" th:text="'Higly Rated'"></div>
    <div class="row-popular">
        <div class="card" style="width: 18rem;" th:each="addon : ${highlyRated}">
            <div class="card-body">
                <h5 class="card-title" th:text="${addon.getName()}"></h5>
                <h6 class="card-subtitle mb-2 text-muted" th:text="'#'+${addon.getCreator()}"></h6>
                <p class="card-text" th:text="${addon.getDescription()}"></p>
                <a href="#" class="card-link"
                   th:href="@{/addon/download/{addonNmae}(addonNmae=${addon.name})}">Download</a>
                <br/>
                <a href="#" class="card-link" th:href="@{/addon/view/{name}(name=${addon.name})}">View</a>
                <p th:text="'Number of downloads: '+${addon.getNumberOfDownloads()}"></p>
                <p th:text="'Uploaded: '+ ${formatter.format(addon.getUploadDate())}"></p>
            </div>
        </div>
    </div>
</form>

<form>
    <div class="new" th:text="New"></div>
    <div class="row-new">
        <div class="card" style="width: 18rem;" th:each="addon : ${newlyMade}">
            <div class="card-body">
                <h5 class="card-title" th:text="${addon.getName()}"></h5>
                <h6 class="card-subtitle mb-2 text-muted" th:text="'#'+${addon.getCreator()}"></h6>
                <p class="card-text" th:text="${addon.getDescription()}"></p>
                <a href="#" class="card-link"
                   th:href="@{/addon/download/{addonNmae}(addonNmae=${addon.name})}">Download</a>
                <br/>
                <a href="#" class="card-link" th:href="@{/addon/view/{name}(name=${addon.name})}">View</a>
                <p th:text="'Number of downloads: '+${addon.getNumberOfDownloads()}"></p>
                <p th:text="'Uploaded: '+ ${formatter.format(addon.getUploadDate())}"></p>
            </div>
        </div>
    </div>
</form>

</html>