<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{style.css}" href="../static/style.css"/>
    <title>Login</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div>
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
</div>
<p>
    <i th:if="${param.error}" class="error">Wrong username or password.</i>
</p>

<p>
    <i th:if="${param.logout}">Logged out.</i>
</p>

<form th:action="@{/authenticate}" method="post">
    <h4> Login Information </h4>
    <label>
        <input class="name" type="text" name="username" placeholder="Enter Username"/>
    </label>
    <label>
        <input class="pw" type="password" name="password" placeholder="Enter Password"/>
    </label>
    <ul>
        <li>
            <a href="#" th:href="@{/register}">Sign up?</a>
        </li>
    </ul>
    <input class="button" type="submit" value="Log in"/>
</form>
</body>
</html>