<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{style.css}" href="../static/style.css"/>
    <title>Rregister</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div>
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
</div>
<form class="register" action="#" th:action="@{/register}" th:object="${user}" method="post">
    <h4> Registration information </h4>
    <p>
        <i th:if="${error != null}" th:text="${error} " class="error"></i>
    </p>
    <label>
        <input class="name" type="text" th:field="*{username}" placeholder="Choose Username"/>
    </label>
    <label>
        <input class="pw" type="password" th:field="*{password}" placeholder="Choose Password"/>
    </label>
    <label>
        <input class="pw" type="password" th:field="*{passwordConfirmation}" placeholder="Confirm Password"/>
    </label>
    <label>
        <input class="name" type="email" th:field="*{email}" placeholder="Enter Email"/>
    </label>
    <ul>
        <li>
            <a href="#" th:href="@{/login}">Sign in</a>
        </li>
    </ul>
    <input class="button" type="submit" value="Sign up"/>
</form>

</body>
</html>