<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css"/>
    <link rel="stylesheet" href="/header.css"/>
    <title>Tag Creation</title>
</head>
<body>
<div>
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
</div>
<form class="edit short" action="#" th:action="@{/tag/create}" th:object="${tag}" method="post" enctype="multipart/form-data">
    <label th:text="#{tag.header.creation}">Creation of tags</label>
    <br/>
    <label>
        <input class="fill90" type="text" th:field="*{name}"/>
    </label>
    <label class="error" th:errors="*{name}"></label>

    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <input class="button" type="submit" name="action" value="Create"/>
        </div>
    </div>
</form>
</body>
</html>