<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css"/>
    <link rel="stylesheet" href="/header.css"/>
    <title>Tag Editing</title>
</head>
<body>
<div>
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
</div>
<form class="edit medium" action="#" th:action="@{/tag/edit/{name}(name=${tag.getName()})}" th:object="${tag}"
      method="post" enctype="multipart/form-data">
    <label th:text="#{tag.header.old}">Old tag name:</label>
    <br/>
    <label hidden>
        <input type="text" id="oldname" th:name="oldname" th:value="${oldname}"/>
    </label>
    <label>
        <input class="fill90" type="text" th:value="${oldname}" readonly/>
    </label>
    <label th:text="#{tag.header.editing}">Tag Name:</label>
    <br/>
    <label>
        <input class="fill90" type="text" th:field="*{name}"/>
    </label>
    <label class="error" th:errors="*{name}"></label>

    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <input class="button" type="submit" name="action" value="Update"/>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Second group">
            <input class="button" type="submit" name="action" value="Delete"/>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Third group">
            <input class="button" type="submit" name="action" value="Home"/>
        </div>
    </div>
</form>
</body>
</html>