<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/users.css"/>
    <link rel="stylesheet" href="/header.css"/>
    <link rel="stylesheet" th:href="@{addons.css}" href="../static/addons.css"/>
    <title>Tags</title>
</head>
<body>
<div>
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
</div>
<form>
    <br/>
    <label></label>
    <div class="popular" th:text="#{tag.header.tags}">All tags</div>
    <div class="container-basic">
        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Tag name</th>
            </tr>
            </thead>
            <tbody th:each="tag : ${tags}">
            <tr>
                <th scope="row">#</th>
                <td><p th:text="${tag.id}"></p></td>
                <td><a th:href="@{'/tag/edit/'+${tag.name}}"><p th:text="${tag.name}"></p></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</form>
<div class="container-basic">
    <div class="containee-basic">
        <form class="users-info" action="#" th:action="@{/tags}" method="post">
            <div class="btn-toolbar"  role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <input class="button" type="submit" name="action" value="Create Tag"/>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <input class="button" type="submit" name="action" value="Personal Panel"/>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="Second group">
                    <input class="button" type="submit" name="action" value="Home"/>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>