<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/users.css"/>
    <link rel="stylesheet" th:href="@{addons.css}" href="../static/addons.css"/>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    <title>Users</title>
</head>
<body>
<div>
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
</div>
<form>
    <br/>
    <label></label>
    <div class="popular" th:text="#{user.header.users}">All users</div>
        <div class="container-basic">
            <table class="table table-dark">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Enabled</th>
                </tr>
                </thead>
                <tbody th:each="user : ${users}">
                <tr>
                    <th scope="row">#</th>
                    <td><a th:href="@{'/user/'+${user.username}}"><p th:text="${user.username}"></p></a></td>
                    <td th:switch="${user.enabled}">
                        <p th:case="1">Enabled</p>
                        <p th:case="0">Disabled</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
</form>

</body>
</html>