<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/users.css"/>
    <link rel="stylesheet" href="/addons.css"/>
    <link rel="stylesheet" href="/header.css"/>
    <title>User Panel</title>
</head>
<body>
<div>
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
</div>

<form class="user-info" action="#" th:action="@{/user}" th:object="${user}" method="post">
    <h5> User information </h5>
    <label>
        <input class="fill80" type="text" th:field="*{username}" th:placeholder="*{username}" readonly/>
    </label>
    <label>
        <input class="fill80" type="password" th:field="*{password}" placeholder="New Password"/>
    </label>
    <label>
        <input class="fill80" type="password" th:field="*{passwordConfirmation}" placeholder="Confirm Password"/>
    </label>
    <label>
        <input class="fill80" type="email" th:field="*{email}" th:placeholder="*{email}"/>
    </label>

    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <input class="button" type="submit" name="action" value="Update User"/>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Second group"
             th:if="${#authentication.name == user.getUsername()}">
            <input class="button" type="submit" name="action" value="Create Add-on"/>
        </div>
        <!--        <div class="btn-group mr-2" role="group" aria-label="Third group">-->
        <!--            <input class="button" type="submit" name="action" value="Home"/>-->
        <!--        </div>-->
        <div sec:authorize="hasRole('ADMIN')" class="btn-group mr-2" role="group" aria-label="Fourth group">
            <input class="button" type="submit" name="action" value="Disable User"/>
        </div>
        <div sec:authorize="hasRole('ADMIN')" class="btn-group mr-2" role="group" aria-label="Fifth group">
            <input class="button" type="submit" name="action" value="Enable User"/>
        </div>
        <div sec:authorize="hasRole('ADMIN')" class="btn-group mr-2" role="group" aria-label="Sixth group">
            <input class="button" type="submit" name="action" value="View All Users"/>
        </div>
        <div sec:authorize="hasRole('ADMIN')" class="btn-group mr-2" role="group" aria-label="Seventh group">
            <input class="button" type="submit" name="action" value="View All Tags"/>
        </div>
    </div>
    <p>
        <i th:if="${error != null}" th:text="${error} " class="error"></i>
    </p>
</form>

<div sec:authorize="hasRole('ADMIN')" th:if="${#authentication.name == user.getUsername()}">
    <form>
        <div class="featured" th:text="#{user.header.pendingAddons}"></div>
        <div class="row-popular">
            <div th:if="${allPending.isEmpty()}">
                <p class="card-text" th:text="#{user.header.none.pending}"></p>
            </div>
            <div class="card" style="width: 18rem;" th:each="addon : ${allPending}">
                <div class="card-body">
                    <h5 class="card-title" th:text="${addon.getName()}"></h5>
                    <h6 class="card-subtitle mb-2 text-muted" th:text="'#'+${addon.getCreator()}"></h6>
                    <p class="card-text" th:text="${addon.getDescription()}"></p>
                    <a th:href="@{/addon/download/{addonNmae}(addonNmae=${addon.name})}" href="#" class="card-link">Download</a>
                    <br/>
                    <a th:href="@{/addon/view/{name}(name=${addon.name})}" href="#" class="card-link">View</a>
                </div>
            </div>
        </div>
    </form>
</div>
<br>
<form sec:authorize="hasRole('USER')">
    <div class="featured" th:text="#{user.header.approved}"></div>
    <div class="row-popular">
        <div th:if="${approved.isEmpty()}">
            <p class="card-text" th:text="#{user.header.none.approved}"></p>
        </div>
        <div class="card" style="width: 18rem;" th:each="addon : ${approved}">
            <div class="card-body">
                <h5 class="card-title" th:text="${addon.getName()}"></h5>
                <h6 class="card-subtitle mb-2 text-muted" th:text="'#'+${addon.getCreator()}"></h6>
                <p class="card-text" th:text="${addon.getDescription()}"></p>
                <a th:href="@{/addon/download/{addonNmae}(addonNmae=${addon.name})}" href="#" class="card-link">Download</a>
                <br/>
                <a th:href="@{/addon/view/{name}(name=${addon.name})}" href="#" class="card-link">View</a>
            </div>
        </div>
    </div>
</form>
<form sec:authorize="hasRole('USER')">
    <div class="popular" th:text="#{user.header.pending}"></div>
    <div class="row-popular">
        <div th:if="${pending.isEmpty()}">
            <p class="card-text" th:text="#{user.header.none.pending}"></p>
        </div>
        <div class="card" style="width: 18rem;" th:each="addon : ${pending}">
            <div class="card-body">
                <h5 class="card-title" th:text="${addon.getName()}"></h5>
                <h6 class="card-subtitle mb-2 text-muted" th:text="'#'+${addon.getCreator()}"></h6>
                <p class="card-text" th:text="${addon.getDescription()}"></p>
                <a th:href="@{/addon/download/{addonNmae}(addonNmae=${addon.name})}" href="#" class="card-link">Download</a>
                <br/>
                <a th:href="@{/addon/view/{name}(name=${addon.name})}" href="#" class="card-link">View</a>
            </div>
        </div>
    </div>
</form>
<form sec:authorize="hasRole('USER')">
    <div class="popular" th:text="#{user.header.rejected}"></div>
    <div class="row-popular">
        <div th:if="${rejected.isEmpty()}">
            <p class="card-text" th:text="#{user.header.none.rejected}"></p>
        </div>
        <div class="card" style="width: 18rem;" th:each="addon : ${rejected}">
            <div class="card-body">
                <h5 class="card-title" th:text="${addon.getName()}"></h5>
                <h6 class="card-subtitle mb-2 text-muted" th:text="'#'+${addon.getCreator()}"></h6>
                <p class="card-text" th:text="${addon.getDescription()}"></p>
                <a th:href="@{/addon/download/{addonNmae}(addonNmae=${addon.name})}" href="#" class="card-link">Download</a>
                <br/>
                <a th:href="@{/addon/view/{name}(name=${addon.name})}" href="#" class="card-link">View</a>
            </div>
        </div>
    </div>
</form>
<br>

</body>
</html>