.header {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    align-content: center;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    overflow: hidden;
    margin: auto;
    background-color: #f1f1f1;
    padding: 20px 10px;
    border: solid black;
}
.center{
    text-align: center;
}

.header a.linker {
    border: solid gray;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.linker.logo {
    font-size: 25px;
    font-weight: bold;
}

.header a.linker:hover {
    background-color: #ddd;
    color: black;
}

.header a.linker.active {
    background-color: dodgerblue;
    color: white;
}

.header-right {
    float: right;
}

@media screen and (max-width: 500px) {
    .header a.linker {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}

.left-side {
    float: left;
}

.right-side{
    float: right;
}