* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}

body {
    background: #2c3e50; /*From http://flatuicolors.com/ */
}

form {
    position: relative;
    width: 360px;
    height: 250px;
    margin: 50px auto;
    text-align: center;
    background: #ecf0f1;
    padding: 40px;
    -webkit-border-radius: 20px 0 0 0;
    -moz-border-radius: 20px 0 0 0;
    border-radius: 20px 0 0 0;
    -webkit-box-shadow: 0 1px 0 #ad392d, inset 0 1px 0 white;
    -moz-box-shadow: 0 1px 0 #ad392d, inset 0 1px 0 white;
    box-shadow: 20px 20px 20px, inset 0 1px 0 white;
}

.register {
    position: relative;
    width: 360px;
    height: 370px;
    text-align: center;
    background: #ecf0f1;
    padding: 40px;
    -webkit-border-radius: 20px 0 0 0;
    -moz-border-radius: 20px 0 0 0;
    border-radius: 20px 0 0 0;
    -webkit-box-shadow: 0 1px 0 #ad392d, inset 0 1px 0 white;
    -moz-box-shadow: 0 1px 0 #ad392d, inset 0 1px 0 white;
    box-shadow: 20px 20px 20px, inset 0 1px 0 white;

}

.error {
    color: red;
}

.create {
    position: relative;
    width: 360px;
    height: 450px;
    text-align: center;
    background: #ecf0f1;
    padding: 40px;
    -webkit-border-radius: 20px 0 0 0;
    -moz-border-radius: 20px 0 0 0;
    border-radius: 20px 0 0 0;
    -webkit-box-shadow: 0 1px 0 #ad392d, inset 0 1px 0 white;
    -moz-box-shadow: 0 1px 0 #ad392d, inset 0 1px 0 white;
    box-shadow: 20px 20px 20px, inset 0 1px 0 white;
}


h4 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 25px;
    color: #7f8c8d;
    text-shadow: 1px 1px 0 white;
}

input {
    display: block;
    width: 315px;
    padding: 14px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 0;
    margin-bottom: 12px;
    color: #7f8c8d;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
}

input:focus {
    background: #fafafa;
}


li {
    position: absolute;
    right: 40px;
    bottom: 62px;
    list-style: none;
}

a, a:visited {
    text-decoration: none;
    color: blue;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-shadow: 1px 1px 0 white;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.button {
    position: relative;
    float: left;
    width: 145px;
    margin-top: 10px;
    background: #3498db;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-shadow: 1px 1px 0 #2d7baf;
    box-shadow: 0 3px 0 #2d7baf;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.edit {
    position: relative;
    width: 470px;
    height: 500px;
    text-align: center;
    background: #ecf0f1;
    padding: 40px;
    -webkit-border-radius: 20px 0 0 0;
    -moz-border-radius: 20px 0 0 0;
    border-radius: 20px 0 0 0;
    -webkit-box-shadow: 0 1px 0 #ad392d, inset 0 1px 0 white;
    -moz-box-shadow: 0 1px 0 #ad392d, inset 0 1px 0 white;
    box-shadow: 20px 20px 20px, inset 0 1px 0 white;
}

.short {
    height:180px;
}

.medium {
    height:230px;
}

.long {
    height:500px;
}

.btn-toolbar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.mr-2,
.mx-2 {
    margin-right: 0.5rem !important;
}

.fill90 {
    /*background-color: #FFF2BC;*/
    width: 90%;
    /*padding: 0 50px 0 10px;*/
}