.admin-mini-panel{
    position: absolute;
    /*top: 550px;*/
    /*left: 400px;*/
    width:250px;
    height:30px;
    text-align:center;
    background:#ecf0f1;
    padding:40px;
    -webkit-border-radius:20px 0 0 0;
    -moz-border-radius:20px 0 0 0;
    border-radius:20px 0 0 0;
    -webkit-box-shadow: 0 1px 0 #ad392d, inset 0 1px 0 white;
    -moz-box-shadow: 0 1px 0 #ad392d, inset 0 1px 0 white;
    box-shadow: 20px 20px 20px , inset 0 1px 0 white;
    margin-left: 140px;
    margin-right: 140px;

}

.low1{
    top: 650px;
    left: -50px;
}

.low2{
    top: 650px;
    left: 250px;
}

.low3{
    top: 650px;
    left: 550px;
}

.low4{
    top: 650px;
    left: 850px;
}

.low5{
    top: 850px;
    left: 450px;
}

.user-info{

}

.button{
    height: 25px;
    width: 180px;
}