.user-info{
    position:relative;
    width:1000px;
    height:140px;
    text-align:center;
    background:#ecf0f1;
    padding:40px;
    -webkit-border-radius:20px 0 0 0;
    -moz-border-radius:20px 0 0 0;
    border-radius:20px 0 0 0;
    -webkit-box-shadow: 0 1px 0 #ad392d, inset 0 1px 0 white;
    -moz-box-shadow: 0 1px 0 #ad392d, inset 0 1px 0 white;
    box-shadow: 20px 20px 20px , inset 0 1px 0 white;
    margin-left: 140px;
    margin-right: 140px;
}

.users-info{
    position:relative;
    width:1000px;
    height:120px;
    text-align:center;
    background:#ecf0f1;
    padding:40px;
    -webkit-border-radius:20px 0 0 0;
    -moz-border-radius:20px 0 0 0;
    border-radius:20px 0 0 0;
    -webkit-box-shadow: 0 1px 0 #ad392d, inset 0 1px 0 white;
    -moz-box-shadow: 0 1px 0 #ad392d, inset 0 1px 0 white;
    box-shadow: 20px 20px 20px , inset 0 1px 0 white;
    margin-left: 140px;
    margin-right: 140px;
}

.btn-toolbar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.mr-2,
.mx-2 {
    margin-right: 0.5rem !important;
}

.fill90 {
    /*background-color: #FFF2BC;*/
    width: 90%;
    /*padding: 0 50px 0 10px;*/
}

.fill20 {
    width: 20%;
}
.fill80 {
    width: 80%;
}


.button {
    position:relative;
    float:left;
    width:145px;
    margin-top:10px;
    background:#3498db;
    color:#fff;
    font-weight:400;
    text-shadow:1px 1px 0 #2d7baf;
    box-shadow:0 3px 0 #2d7baf;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
input {
    display:block;
    width:315px;
    padding:14px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    border:0;
    margin-bottom:12px;
    color:#7f8c8d;
    font-weight:600;
    font-size:16px;
}

input:focus {
    background:#fafafa;
}

.btn-group,
.btn-group-vertical {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
}

.btn-group > .btn,
.btn-group-vertical > .btn {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.btn-group > .btn:hover,
.btn-group-vertical > .btn:hover {
    z-index: 1;
}

.btn-group > .btn:focus, .btn-group > .btn:active, .btn-group > .btn.active,
.btn-group-vertical > .btn:focus,
.btn-group-vertical > .btn:active,
.btn-group-vertical > .btn.active {
    z-index: 1;
}

button,
input {
    overflow: visible;
}

label {
    display: inline-block;
    /*width: 140px;*/
    /*text-align: right;*/
}​

.container-basic{
    text-align: center;
    /*border: solid black;*/
    /*margin-left: 60px;*/
    /*margin-right: 60px;*/
    /*margin-top: 75px;*/
}

.containee-basic{
    display: inline-block;
}

.magrined{
    margin-left: 120px;
    margin-right: 120px;
}