.view {
    position: absolute;
    width: 360px;
    height: 478px;
    left: 0;
    right: 200px;
    top: 50px;
    text-align: center;
    background: #ecf0f1;
    -webkit-border-radius: 20px 0 0 0;
    -moz-border-radius: 20px 0 0 0;
    border-radius: 20px 0 0 20px;;
}

.creator {
    font-size: 22px;
    text-align: center;
    font-family: "Times New Roman", cursive;
    color: gray;
}

.name {
    all: unset;
    font-weight: bold;
    font-family: "Times New Roman", sans-serif;
    font-size: 28px;
    text-align: center;
    cursor: pointer;
    padding: 5px 5px 5px 5px;
    border-color: black;
    border-style: double dotted;
}

.tags {
    position: absolute;
    width: 360px;
    height: 200px;
    left: 441px;
    top: 0;
    text-align: center;
    background: #ecf0f2;
    -webkit-border-radius: 20px 0 0 0;
    -moz-border-radius: 20px 0 0 0;
    border-radius: 0 20px 0 0;
}

.gitHub {
    position: absolute;
    width: 360px;
    height: 357px;
    left: 441px;
    top: 201px;
    text-align: center;
    background: #ecf0f2;
    -webkit-border-radius: 20px 0 0 0;
    -moz-border-radius: 20px 0 0 0;
    border-radius: 0 0 20px 0;
}

.project-details {
    padding-top: 10px;
    font-weight: bold;
    font-family: "Times New Roman", sans-serif;
    font-size: 28px;
    text-align: center;
}

.project-details-content {
    padding: 1px 1px 1px 1px;
    font-family: "Times New Roman", cursive;
    color: blue;
    font-size: 22px;
    text-align: center;
    border-color: black;
    border-style: double dotted;
}

.card {
    position: relative;
    margin: auto;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.73);
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

ul {
    display: inline;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background: #2c3e50; /*From http://flatuicolors.com/ */
}

form {
    position: relative;
    width: 360px;
    height: 250px;
    margin: 50px auto;
    text-align: center;
    padding: 40px;
}

.error {
    color: red;
}


h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 25px;
    color: #7f8c8d;
    text-shadow: 1px 1px 0 white;
}

li {
    position: absolute;
    right: 40px;
    bottom: 62px;
    list-style: none;
}

a, a:visited {
    text-decoration: none;
    color: #000033;
    font-weight: 400;
    padding: 5px 5px 5px 5px;

}


.mr-2,
.mx-2 {
    margin-right: 0.5rem !important;
}

.fill90 {
    /*background-color: #FFF2BC;*/
    width: 90%;
    /*padding: 0 50px 0 10px;*/
}

/*Star*/

.rate-it{
    position: absolute;
    left: 445px;
    top: 11px;
}

.rating{
    all: unset;
    position: absolute;
    top: 647px;
    left: 500px;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 280px;
}

.rate:not(:checked) > input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked) > label:before {
    content: '★ ';
}

.rate > input:checked ~ label {
    color: #ffc700;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.button {
    height: 20px;
    width: 180px;
}

.button2 {
    height: 20px;
    width: 60px;
}