<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{header.css}" href="../static/header.css"/>
    <title>Header</title>
</head>
<body>

<div th:fragment="header">
    <div class="header">
        <div class="center">
            <div class="left-side">
                <a class="linker" href="#" th:href="@{/}">Home</a>
                <a class="linker" href="#" th:href="@{/addons}">Addons</a>
                <a class="linker" href="#" sec:authorize="isAuthenticated()" th:href="@{/addon/create}">Create Addon</a>
                <a class="linker" href="#" sec:authorize="hasRole('ADMIN')" th:href="@{/tags}">Tags</a>
                <a class="linker" href="#" sec:authorize="hasRole('ADMIN')" th:href="@{/tag/create}">Create Tag</a>
                <a class="linker" href="#" sec:authorize="hasRole('ADMIN')" th:href="@{/users}">Users</a>
            </div>
            <div class="right-side">
                <a class="linker" th:text="${username}" href="#" sec:authorize="isAuthenticated()" th:href="@{/user}"></a>
                <a class="linker" href="#" sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>
                <a class="linker" href="#" sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>

            </div>
        </div>
    </div>
</div>
</body>
</html>