<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Title</title>
    <link href="../static/header.css" th:href="@{header.css}" rel="stylesheet" media="screen">
</head>
<body>

</body>
</html>